name: tagpr

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  tagpr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        # TODO: After replace-devcode, add token: ${{ secrets.PAT_FOR_TAGPR }}

      - uses: Songmu/tagpr@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # TODO: After replace-devcode, use PAT_FOR_TAGPR instead
